<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team | 2 | Alpins | Mountain And Trekking Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/SMP1.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/SMP1.png" alt="logo" />
                    <img class="logo-default scroll-show" src="media/SMP1.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/SMP1.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li class="dropdown">
                        <a href="index-2.html">Beranda</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Pages</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a>About</a>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="team-2.html">Team two</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Special</a>
                                <ul>
                                    <li><a href="food.html">Food</a></li>
                                    <li><a href="shelters.html">Shelters</a></li>
                                    <li><a href="events.html">Events</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Others</a>
                                <ul>
                                    <li><a href="prices.html">Prices</a></li>
                                    <li><a href="history.html">History</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements/components/buttons.html">Elements</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="treks.html">Treks</a>
                        <ul>
                            <li><a href="treks.html">Treks</a></li>
                            <li><a href="treks-single.html">Single trek</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contacts.html">Contacts</a>
                    </li>
                </ul>
                <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="#"><img src="media/en.png" />EN </a>
                            <ul>
                                <li><a href="#"><img src="media/it.png" />IT</a></li>
                                <li><a href="#"><img src="media/es.png" />ES</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="http://via.placeholder.com/1920x1080" data-offset="0">
        <div class="container">
            <h1>Our team</h1>
            <h2>Talent wins games, but teamwork win championships</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Team</a></li>
            </ol>
        </div>
    </header>

                        <li class="dropdown">
                        <a href="galeri.html">Galeri</a>
                    </li>
                    <li>
                        <a href="pengumuman.html">Pengumuman</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontak</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 
    <main>
        <section class="section-base ">
            <div class="container">
                <div class="menu-inner">
                        <div><i class="menu-btn"></i><span>Menu</span></div>
                        <ul>
                            <li><a data-filter="maso-item" href="#">All</a></li>
                            <li><a data-filter="cat-1" href="guruagamaislam.html">PAI</a></li>
                            <li><a data-filter="cat-2" href="gurubahasaindonesia.html">B.Indonesia</a></li>
                            <li class="active"><a data-filter="cat-3" href="guruppkn.html">PPKN</a></li>
                            <li><a data-filter="cat-4" href="gurumatematika.html">MTK</a></li>
                            <li><a data-filter="cat-5" href="guruipa.html">IPA</a></li>
                            <li><a data-filter="cat-6" href="gurubahasainggris.html">B.Inggris</a></li>
                            <li><a data-filter="cat-7" href="gurips.html">IPS</a></li>
                            <li><a data-filter="cat-8" href="gurupjok.html">PJOK</a></li>
                            <li><a data-filter="cat-8" href="guruprakarya.html">Prakarya</a></li>
                            <li><a data-filter="cat-8" href="gurubjawa.html">B.Jawa</a></li>
                            <li><a data-filter="cat-8" href="guruseni.html">Seni</a></li>
                            <li><a data-filter="cat-8" href="gurubk.html">BK</a></li>
                            <li><a data-filter="cat-8" href="gurutu.html">TU</a></li>
                            
                            <li><a class="maso-order" data-sort="asc"></a></li>
                        </ul>
                    </div>
                <div class="grid-list gap-60" data-columns="4" data-columns-md="2" data-columns-sm="1" data-gap="60">
                    <div class="grid-box">
                        
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/26 orisa.jpg " alt="" />
                                <div class="caption">
                                    <h2>Dra. Orisa Sartika Hidrageriani</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru PPKN
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/ajeng.jpg" alt="" />
                                <div class="caption">
                                    <h2>Ajeng Saptaningrum, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru PPKN
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/amrina.jpg" alt="" />
                                <div class="caption">
                                    <h2>Amrina Rosada Haq, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru PPKN
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>



    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Alpins</h3>
                    <p>Somewhere between the bottom of the climb and the summit is the answer to the mystery why we climb.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacts</h3>
                    <ul class="icon-list icon-line">
                        <li>San Pellegrino, BG, Italy</li>
                        <li>hello@example.com</li>
                        <li>02 123 333 444</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Subscribe to our newsletter of follow us on the social channels to stay tuned.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 Alpins - Hiking & Outdoor Template Handmade by <a href="https://schiocco.com" target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Contact us</a> | <a href="#">Privacy policy</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
    </footer>
</body>
</html>