<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SD Bulustalan</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/lOGOSD.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed menu-transparent light align-right" data-menu-anima="fade-in">
        <div class="container">
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li class="dropdown">
                        <a href="index-2.html">BERANDA</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">PROFIL</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a>Profil</a>
                                <ul>
                                    <li><a href="about.html">Profil Sekolah</a></li>
                                    <li><a href="profil-guru.html">Profil Guru</a></li>
                                    <li><a href="profil-siswa.html">Profil Siswa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Special</a>
                                <ul>
                                    <li><a href="food.html">Food</a></li>
                                    <li><a href="shelters.html">Shelters</a></li>
                                    <li><a href="events.html">Events</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements/components/buttons.html">Elements</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="ekstrakurikuler.html">Ekstrakurikuler</a>
                    <li>
                                        <li class="dropdown">
                        <a href="galeri.html">Galeri</a>
                    <li>
                        <a href="pengumuman.html">Pengumuman</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontak</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section class="section-image section-home-alpins light" style="background-image:url('media/smp5smg.png')">
            <div class="container">
                <hr class="space-lg" />
                <div class="row">
                    <div class="col-lg-9">
                        <h1 class="text-lg text-uppercase text-black">SMP 5 SEMARANG</h1>
                        <ul class="slider" data-options="type:slider,perView:1,arrows:true,nav:true,autoplay:3500" data-anima="fade-right" data-time="2000">
                            <li>
                                <a class="img-box" href="#">
                                    <img src="http://via.placeholder.com/800x500" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="http://via.placeholder.com/800x500" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="http://via.placeholder.com/800x500" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <hr class="space-sm" />
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <ul class="slider" data-options="type:carousel,arrows:true,perView:3,perViewLg:2,perViewMd:1,gap:30,controls:out">
                    <li>
                        <div class="cnt-box cnt-box-info boxed text-uppercase" data-href="treks-single.html">
                            <div class="extra-field">From $49</div>
                            <a href="treks-single.html" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                            <div class="caption">
                                <h2>Bianco Excursion</h2>
                                <div class="cnt-info">
                                    <div><span>Days</span><span>3</span></div>
                                    <div><span>Group size</span><span>10</span></div>
                                    <div><span>Difficulty</span><span>Easy</span></div>
                                </div>
                                <p>
                                    Monte bianco is a mountain located in the deep nature and rivers.
                                </p>
                                <div class="bottom-info">
                                    Monte bianco, Alpes, Italy
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cnt-box cnt-box-info boxed text-uppercase" data-href="treks-single.html">
                            <div class="extra-field">From $89</div>
                            <a href="treks-single.html" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                            <div class="caption">
                                <h2>Civetta Trekking</h2>
                                <div class="cnt-info">
                                    <div><span>Days</span><span>5</span></div>
                                    <div><span>Group size</span><span>5</span></div>
                                    <div><span>Difficulty</span><span>Medium</span></div>
                                </div>
                                <p>
                                    Civetta is a mountain located in alps and is one of the most famous.
                                </p>
                                <div class="bottom-info">
                                    Civetta, Alpes, Italy
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cnt-box cnt-box-info boxed text-uppercase" data-href="treks-single.html">
                            <div class="extra-field">From $89</div>
                            <a href="treks-single.html" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                            <div class="caption">
                                <h2>Nevegal Trekking</h2>
                                <div class="cnt-info">
                                    <div><span>Days</span><span>1</span></div>
                                    <div><span>Group size</span><span>15</span></div>
                                    <div><span>Difficulty</span><span>Medium</span></div>
                                </div>
                                <p>
                                    Nevegal is a mountain near a beautiful and hidden small village.
                                </p>
                                <div class="bottom-info">
                                    Civetta, Alpes, Italy
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="title">
                            <h2>About our treks</h2>
                            <p>Secret wild locations</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do esectetur adipiscing elitsed do eiusmoiusmod tempor incididunt utlabore et dolore magna aliqua.
                        </p>
                        <a href="treks.html" class="btn btn-sm btn-circle btn-icon"><i class="im-geo2-love"></i>View treks</a>
                    </div>
                    <div class="col-lg-8">
                        <ul class="accordion-list" data-open="1">
                            <li>
                                <a href="#">Our mountains and our location</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation dipiscing elitsed do esectetur adipiscing elitsed do eiusmoiusmod tem.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">All about our treks and trips</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation .
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">About our team and guests</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">How to safety reach our location</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-image light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="100" data-image-src="http://via.placeholder.com/1920x1080">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="progress-circle light text-black" data-color="#379cf4" data-thickness="6" data-progress="100" data-linecap="round" data-options="emptyFill:#FFF">
                            <div class="content">
                                <h4>Treks</h4>
                                <div class="counter" data-to="100" data-speed="4000" data-unit="%">100%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="progress-circle light text-black" data-color="#379cf4" data-thickness="6" data-progress="80" data-linecap="round" data-options="emptyFill:#FFF">
                            <div class="content">
                                <h4>Excursions</h4>
                                <div class="counter" data-to="80" data-speed="4000" data-unit="%">80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="title">
                            <h2>Top experiences</h2>
                            <p>We know how to do it</p>
                        </div>
                        <p>Lorem ipsum dolor sit ame tion ullamco laboris nisi ut aliqu r in reprehenderit ma quiese nostrud exercitation iconsectetur adipiscing elitsed do eiusmo fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div> 
        </section>
        <section class="section-base">
            <div class="container">
                <ul class="slider" data-options="type:carousel,perView:5,perViewMd:4,perViewSm:3,perViewXs:1,gap:70,autoplay:3500">
                    <li>
                        <img src="http://via.placeholder.com/374x103"  alt="logo" />
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/374x103" alt="logo" />
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/374x103" alt="logo" />
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/374x103" alt="logo" />
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/374x103" alt="logo" />
                    </li>
                    <li>
                        <img src="http://via.placeholder.com/374x103" alt="logo" />
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <div class="title">
                    <h2>Huts and shelters</h2>
                    <p>Secret wild locations</p>
                </div>
                <div class="grid-list pagination-top-right" data-columns="4" data-columns-lg="3" data-columns-md="2" data-columns-sm="1">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-badge boxed">
                                <a href="#" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                                <div class="caption">
                                    <div class="badge">1780m</div>
                                    <h2>Sennes</h2>
                                    <p>
                                        <b>Mail</b> info@domain.com<br />
                                        <b>Phone</b> +02 0444 123456<br />
                                        <b>Web</b> sennes.com
                                    </p>
                                    <a href="#" class="btn-text">Visit website</a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-badge boxed">
                                <a href="#" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                                <div class="caption">
                                    <div class="badge">1600m</div>
                                    <h2>Lavarella</h2>
                                    <p>
                                        <b>Mail</b> info@domain.com<br />
                                        <b>Phone</b> +02 0444 123456<br />
                                        <b>Web</b> lavarella.com
                                    </p>
                                    <a href="#" class="btn-text">Visit website</a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-badge boxed">
                                <a href="#" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                                <div class="caption">
                                    <div class="badge">1880m</div>
                                    <h2>Lagazui</h2>
                                    <p>
                                        <b>Mail</b> info@domain.com<br />
                                        <b>Phone</b> +02 0444 123456<br />
                                        <b>Web</b> lagazui.com
                                    </p>
                                    <a href="#" class="btn-text">Visit website</a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-badge boxed">
                                <a href="#" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                                <div class="caption">
                                    <div class="badge">1300m</div>
                                    <h2>Croda del lago</h2>
                                    <p>
                                        <b>Mail</b> info@domain.com<br />
                                        <b>Phone</b> +02 0444 123456<br />
                                        <b>Web</b> crodalago.com
                                    </p>
                                    <a href="#" class="btn-text">Visit website</a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-badge boxed">
                                <a href="#" class="img-box"><img src="http://via.placeholder.com/800x500" alt="" /></a>
                                <div class="caption">
                                    <div class="badge">1200m</div>
                                    <h2>Voce Mis</h2>
                                    <p>
                                        <b>Mail</b> info@example.com<br />
                                        <b>Phone</b> +02 0444 123456<br />
                                        <b>Web</b> mis.com
                                    </p>
                                    <a href="#" class="btn-text">Visit website</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-pagination">
                        <ul class="pagination align-center" data-page-items="4" data-page-items-lg="3" data-page-items-md="2" data-pagination-anima="fade-right"></ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Alpins</h3>
                    <p>Somewhere between the bottom of the climb and the summit is the answer to the mystery why we climb.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacts</h3>
                    <ul class="icon-list icon-line">
                        <li>San Pellegrino, BG, Italy</li>
                        <li>hello@example.com</li>
                        <li>02 123 333 444</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Subscribe to our newsletter of follow us on the social channels to stay tuned.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 Alpins - Hiking & Outdoor Template Handmade by <a href="https://schiocco.com" target="_blank">schiocco.com</a>.</span>
                <span><a href="contacts.html">Contact us</a> | <a href="#">Privacy policy</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="themekit/scripts/tab-accordion.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/pagination.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
    </footer>
</body>
</html>