<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team | 2 | Alpins | Mountain And Trekking Template</title>
    <meta name="description" content="">
    <script src="themekit/scripts/jquery.min.js"></script>
    <script src="themekit/scripts/main.js"></script>
    <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
    <link rel="stylesheet" href="themekit/css/style.css">
    <link rel="stylesheet" href="themekit/css/glide.css">
    <link rel="stylesheet" href="themekit/css/magnific-popup.css">
    <link rel="stylesheet" href="themekit/css/content-box.css">
    <link rel="stylesheet" href="themekit/css/media-box.css">
    <link rel="stylesheet" href="themekit/css/contact-form.css">
    <link rel="stylesheet" href="skin.css">
    <link rel="icon" href="media/favicon.png">
</head>
<body class="page-main">
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
        <div class="container">
            <div class="menu-brand">
                <a href="index.html">
                    <img class="logo-default scroll-hide" src="media/logo-black-blue-solid.svg" alt="logo" />
                    <img class="logo-retina scroll-hide" src="media/logo-black-blue-solid.svg" alt="logo" />
                    <img class="logo-default scroll-show" src="media/logo-white-solid.svg" alt="logo" />
                    <img class="logo-retina scroll-show" src="media/logo-white-solid.svg" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li class="dropdown">
                        <a href="index-2.html">Beranda</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Profil</a>
                        <ul>
                            <li class="dropdown-submenu">
                                <a>Profil</a>
                                <ul>
                                    <li><a href="about.html">Profil Sekolah</a></li>
                                    <li><a href="profil-guru.html">Profil Guru</a></li>
                                    <li><a href="profil-siswa.html">Profil Siswa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a>Special</a>
                                <ul>
                                    <li><a href="food.html">Food</a></li>
                                    <li><a href="shelters.html">Shelters</a></li>
                                    <li><a href="events.html">Events</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="elements/components/buttons.html">Elements</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="galeri.html">Galeri</a>
                    </li>
                    <li>
                        <a href="pengumuman.html">Pengumuman</a>
                    </li>
                    <li>
                        <a href="contacts.html">Kontak</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="http://via.placeholder.com/1920x1080" data-offset="0">
        <div class="container">
            <h1>Our team</h1>
            <h2>Talent wins games, but teamwork win championships</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Team</a></li>
            </ol>
        </div>
    </header>
    <main>
        <section class="section-base ">
            <div class="container">
                <div class="grid-list gap-60" data-columns="4" data-columns-md="2" data-columns-sm="1" data-gap="60">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-1" data-lightbox-anima="fade-in">
                                <img src="media/asrokhul huda.jpg" alt="" />
                                <div class="caption">
                                    <h2>Asrokul Huda, S.Pdi</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Agama Islam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-1" data-lightbox-anima="fade-in">
                                <img src="media/fazka khoiru.jpg" alt="" />
                                <div class="caption">
                                    <h2>Fazka Khoiru Rijal, S.Pdi</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Agama Islam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-1" data-lightbox-anima="fade-in">
                                <img src="media/yahya farida.jpg" alt="" />
                                <div class="caption">
                                    <h2>Yahya Farida, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Agama Islam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/01 lies.jpg" alt="" />
                                <div class="caption">
                                    <h2>Lies Hendrati, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Indonesia
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-1" data-lightbox-anima="fade-in">
                                <img src="media/03 titik.jpg" alt="" />
                                <div class="caption">
                                    <h2>Titik Utami S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Indonesia
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/02 prihartini.jpg" alt="" />
                                <div class="caption">
                                    <h2>Prihartini, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Indonesia
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-1" data-lightbox-anima="fade-in">
                                <img src="media/nanang.jpg" alt="" />
                                <div class="caption">
                                    <h2>Nanang Turindra Prasetyo, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Indonesia
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/dwi retno.jpg" alt="" />
                                <div class="caption">
                                    <h2>Dwi Retno Prasetyaningsih,S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Indonesia
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/26 orisa.jpg " alt="" />
                                <div class="caption">
                                    <h2>Dra. Orisa Sartika Hidrageriani</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru PPKN
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/ajeng.jpg" alt="" />
                                <div class="caption">
                                    <h2>Ajeng Saptaningrum, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru PPKN
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/amrina.jpg" alt="" />
                                <div class="caption">
                                    <h2>Amrina Rosada Haq, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru PPKN
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/21 sri jayanti.jpg" alt="" />
                                <div class="caption">
                                    <h2>Sri Jayanti, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Matematika
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/22 joko pur.jpg" alt="" />
                                <div class="caption">
                                    <h2>Joko Purwantoro, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Matematika
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/sumarsono.jpg" alt="" />
                                <div class="caption">
                                    <h2>Sumarsono, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Matematika
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/23 dian.jpg" alt="" />
                                <div class="caption">
                                    <h2>Dian Romadhina, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Matematika
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/rendy.jpg" alt="" />
                                <div class="caption">
                                    <h2>Rendy Hendrawan, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Matematika
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/16 joto.jpg" alt="" />
                                <div class="caption">
                                    <h2>Joto Budoyo, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Alam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/15 siti nursaadah.jpg" alt="" />
                                <div class="caption">
                                    <h2>Siti Nursa'adah, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Alam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/14 yustin media.jpg" alt="" />
                                <div class="caption">
                                    <h2>Yustin Mediasari, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Alam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/17 darto.jpg" alt="" />
                                <div class="caption">
                                    <h2>Darto , S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Alam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/06 sri mulyani.jpg" alt="" />
                                <div class="caption">
                                    <h2>Sri Mulyani, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Inggris
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/04 dwi set.jpg" alt="" />
                                <div class="caption">
                                    <h2>Dwi Setyaningsih, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Inggris
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/07 nurul.jpg" alt="" />
                                <div class="caption">
                                    <h2>Nurul Chotimah, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Inggris
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/nofoto.png" alt="" />
                                <div class="caption">
                                    <h2>Nurmakin, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Inggris
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/19 suparno.jpg" alt="" />
                                <div class="caption">
                                    <h2>Drs.  Suparno</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Sosial
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/18 yuniana.jpg" alt="" />
                                <div class="caption">
                                    <h2>Yuniana Lidyastuti, A.Md</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Sosial
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/20 yustina ip.jpg" alt="" />
                                <div class="caption">
                                    <h2>Yustina Indri P, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Sosial
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/rossita.jpg" alt="" />
                                <div class="caption">
                                    <h2>Rossita Wulansari, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Ilmu Pengetahuan Sosial
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/25 toni.jpg" alt="" />
                                <div class="caption">
                                    <h2>Toni Wibowo, S.Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Pendidikan Jasmani dan Rohani
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/petrus.jpg" alt="" />
                                <div class="caption">
                                    <h2>Petrus Tri Febrianto, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Guru Pendidikan Jasmani dan Rohani
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/13 astuti.jpg" alt="" />
                                <div class="caption">
                                    <h2>Dra. Astuti, S. Kom</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Prakarya dan Informatika
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/09 chusnul.jpg" alt="" />
                                <div class="caption">
                                    <h2>Chusnul Chotimah, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Jawa
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/08 wirawati.jpg" alt="" />
                                <div class="caption">
                                    <h2>Wirawati Setya Novitasari, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Bahasa Jawa
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/27 supriyadi.jpg" alt="" />
                                <div class="caption">
                                    <h2>Supriyadi, S. Pd, M. Kom</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Seni Budaya
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/28 susiwi.jpg" alt="" />
                                <div class="caption">
                                    <h2>Susiwi Hadinoto, S.Sn</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Seni Budaya
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/jeni.jpg" alt="" />
                                <div class="caption">
                                    <h2>Jeni Dwi Pangestu, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Seni Budaya
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/11 eko.jpg" alt="" />
                                <div class="caption">
                                    <h2>Eko Rustanto, M. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru BK
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/10 jirahayu.jpg" alt="" />
                                <div class="caption">
                                    <h2>Jirahayu, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru BK
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/abibah.jpg" alt="" />
                                <div class="caption">
                                    <h2>Abibah, S. Pd., Gr</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru BK
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/irma.png" alt="" />
                                <div class="caption">
                                    <h2>Irma Erviana, S. Pd</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru BK
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/yuki.jpg" alt="" />
                                <div class="caption">
                                    <h2>Yuki</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Tata Usaha
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/imam.jpg" alt="" />
                                <div class="caption">
                                    <h2>Imam As'ad</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Tata Usaha
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/supono.jpg" alt="" />
                                <div class="caption">
                                    <h2>Supono</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Tata Usaha
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                         <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="media/muchibin.jpg" alt="" />
                                <div class="caption">
                                    <h2>Muchibin</h2>
                                    <hr class="space-sm" />
                                    <p>
                                        Guru Tata Usaha
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user-1" class="box-lightbox-md light">
                    <h2>Jessica Parker</h2>
                    <h4>Terapist</h4>
                    <hr class="space-sm" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space-sm" />
                    <span class="icon-links icon-links-grid icon-social social-colors">
                        <a href="#" target="_blank" class="facebook"><i class="icon-facebook"></i></a>
                        <a href="#" target="_blank" class="twitter"><i class="icon-twitter"></i></a>
                        <a href="#" target="_blank" class="instagram"><i class="icon-instagram"></i></a>
                    </span>
                </div>
                <div id="user-2" class="box-lightbox-md light">
                    <h2>Albert Travolta</h2>
                    <h4>Alpinist</h4>
                    <hr class="space-sm" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space-sm" />
                    <span class="icon-links icon-links-grid icon-social social-colors">
                        <a href="#" target="_blank" class="facebook"><i class="icon-facebook"></i></a>
                        <a href="#" target="_blank" class="twitter"><i class="icon-twitter"></i></a>
                        <a href="#" target="_blank" class="instagram"><i class="icon-instagram"></i></a>
                    </span>
                </div>
                <hr class="space" />
            </div>
        </section>
        <section class="section-base section-color section-call">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-box icon-box-left">
                            <i class="im-air-balloon"></i>
                            <div class="caption">
                                <h3>The best job</h3>
                                <p>All day immerse into the nature and amazing views.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box icon-box-left">
                            <i class="im-bar-chart2"></i>
                            <div class="caption">
                                <h3>Career opportunities</h3>
                                <p>Grow with us is possible thanks to our levels structure.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box icon-box-left">
                            <i class="im-bee"></i>
                            <div class="caption">
                                <h3>Meet amazing people</h3>
                                <p>We're the best team ever! Funny and friendly with each other.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>SMP 5 Semarang</h3>
                    <p>Sekolah menengah pertama di Kota Semarang, Jawa Tengah.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Kontak</h3>
                    <ul class="icon-list icon-line">
                        <li>smpn5@semarangkota.go.id</li>
                        <li>(024) 8315140</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="google"><i class="icon-google"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Subscribe to our newsletter of follow us on the social channels to stay tuned.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2025 SMP 5 Semarang </span>
                <span><a href="contacts.html">Contact us</a> | <a href="#">Privacy policy</a></span>
            </div>
        </div>
        <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">
        <script src="themekit/scripts/parallax.min.js"></script>
        <script src="themekit/scripts/glide.min.js"></script>
        <script src="themekit/scripts/progress.js"></script>
        <script src="themekit/scripts/magnific-popup.min.js"></script>
        <script src="themekit/scripts/contact-form/contact-form.js"></script>
    </footer>
</body>
</html>